/* CSS Reset */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* ----------------- */

form {
  width: 25%;
  margin: 10rem auto;
  border: 1px solid grey;
  line-height: 1.8;
  padding: 2rem;
}
input {
  width: 95%;
  height: 2.5rem;
  padding-left: 1rem;
}
.form_control {
  margin-top: 2rem;
}
button {
  margin-top: 1.5rem;
  /* padding: 0.6rem 1.5rem; */
  width: 95%;
  padding: 0.6rem 0;
}
